# Ignorar tudo por defeito
**

# Mas permitir estas pastas:
!lib/
!assets/
!doc/

# Permitir ficheiros importantes
!pubspec.yaml
!pubspec.lock
!LICENSE
!README.md

# Permitir apenas o APK final
!app-release.apk

# NÃO permitir ficheiros lixo do Windows
app-release.apk:Zone.Identifier
