# --- Flutter ---
.flutter/
.dart_tool/
.packages
.pub/
.pub-cache/
flutter_*.json
build/

# --- Android / iOS / Windows / macOS (ignorar tudo) ---
android/
ios/
windows/
macos/
linux/

# --- IDEs ---
.vscode/
.idea/
*.iml

# --- Outros ficheiros ---
*.log
*.lock
*.DS_Store
*.swp
*.swo

# --- Não ignorar estes ficheiros/pastas ---
!lib/
!pubspec.yaml
!pubspec.lock
!LICENSE
!doc/

# Permitir apenas o APK final
!build/app/outputs/flutter-apk/app-release.apk

# Mas ignorar todo o resto dentro de "build"
build/**/*
!build/app/
!build/app/outputs/
!build/app/outputs/flutter-apk/
!build/app/outputs/flutter-apk/app-release.apk
